lang/fr/tmp/*.n
lang/fr/tmp/*.php
lang/master/tmp/*.n
lang/master/tmp/*.php

public/lib
public/index.n
public/index.php

.haxelib/*

lang/fr/tmp/*
lang/en/tmp/*
lang/es/tmp/*
lang/de/tmp/*

config.xml


vendor/*
